/*
freeCodeCamp 'Responsive Web Design' project

Task: Create a product landing page
Tests: The project has 15 requirements (user stories)
    Include:
    1 - A header element with an id of 'header'.
    2 - An <img> element with an id of 'header-img'.
    3 - A <nav> element with a id of 'nav-bar'.
    4 - A minimum of 3 clickable elements in nav with an id of 'nav-link'.
    5 - Link elements that link to relevant section on page.
    6 - An embedded video with an id of 'video'.
    7 - A form element with an id of 'form'.
    8 - An input element inside the form with an id of 'email'.
    9 - Placeholder text inside the 'email' input field.
    10 - An input field with HTML5 email validation.
    11 - An element with id of 'submit'.
    12 - A submit button that submits to https://www.freecodecamp.com/email-submit.
    13 - A fixed navbar
    14 - A minimum of one media query.
    15 - A minimum of one implementation of flexbox.   

Completion: Submit URL to working projects with all tests passing.
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
        0.  Global Setup
        1.  Header
        2.  Main Content
            a.  Email form
            b.  Text content
            c.  Video
        3.  Footer
----------------------------------------------------------------*/

/*-------------------------------------------------------------
    0. Global Setup
---------------------------------------------------------------*/

:root {
    --primary-colour: #002642;
    --secondary-colour: #F6F6F6;
    --icon-colour: #F37C7D;
    --button-colour: #F7B801;

    --font-df: 'Mulish', sans-serif;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-df);
}

body {
    margin-top: 15vh; /* push body below fixed header */
}


/*-------------------------------------------------------------
    1. Header
---------------------------------------------------------------*/

#header {
    position: fixed; /*user story 13 (required)*/
    top: 0;
    left: 0;
    display: flex; /* user story 15 (required) */
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: fit-content;

    border-bottom: 1px solid var(--primary-colour);

    background-color: var(--secondary-colour);
}

/* user story 14 (required) */
@media (max-width: 300px) {
    body {
        margin-top: 20vh;
    }
    #nav-bar {
        justify-content: center;
    }
}

#header-img {
    align-self: center;
    height: 6vh;
    max-height: 100%;
    
    margin: 5px;
}

#nav-bar, #nav-bot {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    height: 65%;
    
    background-color: var(--primary-colour);
}

#nav-bar {
    padding-bottom: 5px;
}

#nav-bot .nav-link {
    color: var(--secondary-colour);
}

.nav-link {
    height: 100%;

    margin: 0 5px;
    padding: 5px 10px;
    
    color: var(--secondary-colour);
    text-transform: uppercase;
    font-weight: 200;
    text-underline-offset: 3px;
}


/*-------------------------------------------------------------
    2. Main Content
---------------------------------------------------------------*/

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*---------------------------
    a. Email form
-----------------------------*/

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin-bottom: 5vh;
}

#email-label {
    width: clamp(100px, 350px, 95%);
    height: 5vh;

    margin: 0 auto;
    margin-bottom: 1vh;
}

#email {
    width: 100%;
    height: 100%;

    padding: 1%;

    font-size: 1rem;
}

#submit, .buy {
    margin-bottom: 5px;
    border: 1px solid var(--primary-colour);
    padding: 5px 5px;

    background-color: var(--button-colour);
    color: var(--primary-colour);
    text-transform: uppercase;
    font-size: large;
    
    cursor: pointer;
}

.buy {
    width: fit-content;
    height: 5vh;

    margin-top: 2.5%;
    padding: 0 2.5%;
}

/*---------------------------
    b. Text content
-----------------------------*/

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 5vh;
    row-gap: 5vh;
    width: 100%;

    scroll-margin-top: 10vh;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: fit-content; /* items on same row have same height */

    box-shadow: 0 0 1.5px 1.5px var(--primary-colour);
}

@media (min-width: 500px) and (max-width: 700px) {
    .item:nth-child(3) {
        grid-column: span 2;
    }
}

.item-head {
    display: flex;
    flex-direction: column;    
    align-items: center;
    width: 100%;

    margin-bottom: 2%;
    padding: 1%;

    background-color: var(--primary-colour);
}

.item-head h2 {
    color: var(--secondary-colour);
}


/*---------------------------
    c. Video 
-----------------------------*/

#video {
    width: 95%;
    max-width: 100%;
    height: 315px;

    margin: 2.5% auto;

    scroll-margin-top: 10vh;
}

i {
    color: var(--icon-colour);
}

.product {
    width: 100px;
}

#features, #products {
    padding: 0 2.5%;
}

.specs {
    list-style: none;
    text-align: center;
    margin: 2%;
}

.item p {
    padding: 2.5%;
}


/*-------------------------------------------------------------
    3. Footer
---------------------------------------------------------------*/

#footer {
    display: flex;
    flex-direction: column;
    height: fit-content;

    margin-top: 2.5%;

    background-color: var(--primary-colour);
    color: var(--secondary-colour);
}

#foot-txt {
    margin: 0 5px;
    padding: 5px 10px;
}